<style>
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  width: 300px;
}


.gallery-item img {
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
}
.gallery-item img {
  width: 300px;
  height: 200px;
  
  object-fit: cover;
}

  
</style>
<br>
<div class="gallery">

  {{#each allStudents}}
    <div class="gallery-item">
       <img src={{profileImg}}>
    <br>
    {{name}}
    </div>
    
  {{/each}}

</div>