<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <img src="../public/images/teste.jpg" alt="">
   <div>
      <h2>Home</h2>
      <h2>Teacher</h2>
      <h2>Student</h2>   
   </div>
  
  <div class="login-signup">
    <a href="/auth/signup">
      <h2>Sign up |</h2>
    </a>
    <a href="/auth/login">
      <h2>Sign in</h2>
    </a>
  </div>
  <hr>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>