<div class="top-message">
    <h1>Showing Subject: {{subject.name}}</h1>
</div>

<div class="container">
    <div class="card-show">
        <div class="row-profile">
            <label for="pricePerHour">
                Price Per Hour:
                <br>
                <br>
                $ {{subject.pricePerHour}}
            </label>
            <br>
            <br>
            <div class="row">
            <label for="books">
                Books For This Subject:
                <br>
                <br>
                <table>
                    {{#each booksArray}}
                    <tr>
                        <td>{{name}}</td>
                        <td> | Price --- $ {{price}}</td>
                    </tr>
                    {{/each}}
                </table>
            </label>
            </div>
        </div>
        <br>
        <div class="container-button">
            <a href="/subject"><button>Back</button></a>
        </div>

    </div>
</div>
</form>