<h1>Showing Student: {{name}}</h1>

<div class="container">
    <div class="card-show">
        <div class="row">
            <label for="address">
                Address:
                <br>
                <br>
                {{address}}
            </label>
            <br>
            <br>
        </div>
        <div class="row">
            <label for="phoneNumber">
                Phone Number:
                <br>
                <br>
                {{phoneNumber}}
            </label>
            <br>
            <br>
        </div>
        <div class="row">
            <label for="email">
                Email:
                <br>
                <br>
                {{email}}
            </label>
            <br>
            <br>
        </div>

        <div class="row">
            <a href="/student"><button>Back</button></a>
        </div>

    </div>
</div>
</form>